* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #222;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/******************************************** header ************************************/

header {
  height: 91px;
}

.header {
  padding: 0 20px;
  width: 100%;
  height: 91px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.logo {
  width: 180px;
  height: 23px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header ul {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.header ul a:nth-child(1) {
  color: #ff871d;
}

.menu-sidebar {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  z-index: 1100;
  transition: all 0.5s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: #111;
  opacity: 0.4;
  display: none;

  z-index: 1005;
  transition: all 1s ease-in-out;
}

.menu-sidebar-top {
  display: flex;
  border-right: 1px solid #111;
}

.menu-sidebar-top .menu-sidebar-top-list {
  color: #ffffff;
  display: flex;
  padding: 18px 23px 0;
  width: 50%;
  background-color: #111111;
  cursor: pointer;
}

.menu-sidebar-top .menu-sidebar-top-login {
  cursor: pointer;
}

.menu-sidebar-top .menu-sidebar-top-list span {
  margin-right: 10px;
}

.menu-sidebar-top .menu-sidebar-top-login {
  display: flex;
  padding: 18px 23px 0;
  width: 50%;
}

.menu-sidebar-top .menu-sidebar-top-login span {
  margin-right: 10px;
}

.login-sidebar-mid {
  border-top: 1px solid #111111;
  width: 100%;
  padding: 50px 15px;
}

.login-sidebar-mid input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  color: #a8a8a8;
}

.login-sidebar-mid-forgot {
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-login-sidebar-mid {
  color: #ffffff;
  background-color: #111111;
  border: 1px solid #111111;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 50px;
}

.login-sidebar-mid-line {
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}

.login-sidebar-mid-line div {
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
  z-index: 100;
  font-style: italic;
}

.login-sidebar-mid-register {
  text-align: center;
  cursor: pointer;
}

.register-sidebar-mid {
  border-top: 1px solid #111111;
  width: 100%;
  padding: 50px 15px;
}

.register-sidebar-mid h3 {
  text-align: center;
  margin-bottom: 30px;
}

.register-sidebar-mid input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
  color: #a8a8a8;
}

.btn-register-sidebar-mid {
  color: #ffffff;
  background-color: #111111;
  border: 1px solid #111111;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.register-sidebar-mid-line {
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}

.register-sidebar-mid-line div {
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
  z-index: 100;
  font-style: italic;
}

.register-sidebar-mid-register {
  text-align: center;
  cursor: pointer;
}

.forgotpw-sidebar-mid {
  border-top: 1px solid #111111;
  width: 100%;
  padding: 50px 15px;
}

.forgotpw-sidebar-mid h3 {
  text-align: center;
  margin-bottom: 30px;
}

.forgotpw-sidebar-mid input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
  color: #a8a8a8;
}

.btn-forgotpw-sidebar-mid {
  color: #ffffff;
  background-color: #111111;
  border: 1px solid #111111;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.forgotpw-sidebar-mid-register {
  text-align: center;
  cursor: pointer;
}

.forgotpw-sidebar-mid {
  display: none;
}

.login-sidebar-mid {
  display: block;
}

.register-sidebar-mid {
  display: none;
}

.menu-sidebar-mid {
  display: none;
}

.menu-sidebar-mid {
  width: 100%;
}

.menu-sidebar-mid div:nth-child(1) a {
  color: #ff871d;
}

.menu-sidebar-mid div {
  padding: 16px 0px 16px 32px;
  border-bottom: 1px solid #111;
  border-right: 1px solid #111;
  width: 100%;
}

.menu-sidebar-mid div a:hover {
  color: #ff871d;
}

.menu-sidebar-mid div:nth-child(1) {
  border-top: 1px solid #111;
}

.menu-sidebar-mid div a {
  color: #161616;
  font-weight: 700;
  transition: all 0.3s;
}

.menu-sidebar-bottom button {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  color: #fff;
  background-color: #ff871d;
  border: 1px solid #ff871d;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  transition: all 0.3s;
}

.header ul a {
  text-decoration: none;
  color: #161616;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 700;
}

.header-icon {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-login {
  cursor: pointer;
}

.header-shoppingcart {
  cursor: pointer;
}

.logo-menu span i {
  font-size: 30px;
  transition: all 0.2s;
  display: none;
}

.logo-menu span i:hover {
  color: #ff871d;
}

@media (max-width: 992px) {
  .logo {
    order: 2;
  }
  .header ul {
    display: none;
  }
  .header-icon {
    order: 3;
  }

  .header-search {
    display: none;
  }

  .header-login {
    display: none;
  }

  .logo-menu span i {
    display: block;
    order: 1;
  }
}

.header-overlay {
  width: 100%;
  height: 100vh;
  background-color: #111;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1003;

  display: none;
  transition: all 0.5s linear;
}

.header-shopping-cart {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -420px;
  width: 420px;
  height: 100vh;
  z-index: 2000;
  transition: all 0.5s ease-in-out;
}

.shopping-cart-sidebar-top {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.shopping-cart-sidebar-top span i {
  padding: 15px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 25px;
}

.shopping-cart-sidebar-top .btn-cancel span i {
  cursor: pointer;
}

.shopping-cart-sidebar-top div p {
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 19px;

  color: #161616;
}

.shopping-cart-sidebar-top .shopping-cart-sidebar-top-number {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 25px;
}

.shopping-cart-mid-container {
  padding: 0 10px;
}

.shopping-cart-mid-item {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.shopping-cart-mid-item .row .col-lg-1 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shopping-cart-sidebar {
  position: relative;
  height: 100vh;
}

.shopping-cart-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.shopping-cart-bottom .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px;
  background: #d9d9d9;
}

.shopping-cart-bottom .shopping-cart-bottom-button {
  display: flex;
}

.shopping-cart-bottom .shopping-cart-bottom-button a {
  line-height: 17px;

  color: #ffffff;
}

.shopping-cart-bottom .shopping-cart-bottom-button .btn-view-cart {
  padding: 20px 0;
  text-align: center;
  width: 50%;
  background: #2a2a2a;
  transition: all 0.5s linear;
  cursor: pointer;
}

.shopping-cart-bottom .shopping-cart-bottom-button .btn-view-cart:hover {
  background-color: #ff871d;
}

.shopping-cart-bottom .shopping-cart-bottom-button .btn-buy {
  padding: 20px 0;
  text-align: center;
  width: 50%;
  background: #111111;
  transition: all 0.5s linear;
  cursor: pointer;
}

.shopping-cart-bottom .shopping-cart-bottom-button .btn-buy:hover {
  background-color: #ff871d;
}

/*****************login****************/

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.login-page {
  display: block;
}

.login-content {
  height: 670px;
  background-color: #ffffff;
  width: 40%;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 1003;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.login-content-container {
  width: 80%;
  margin: auto;
  padding: 30px 0 50px;
}

.login-content-container span i {
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  text-align: right;
  font-size: 25px;
}

.login-content-container span {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.login-content .login-image {
  height: 30px;
  width: 160px;
  margin: auto;
  margin-bottom: 30px;
}

.login-content .login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-content .login-line {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.login-content .comback {
  margin-bottom: 20px;
  line-height: 19px;

  color: #161616;
}

.login-content input {
  font-size: 14px;
  line-height: 15px;

  color: #a8a8a8;

  padding: 20px 0 15px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.login-content .forgot-pw {
  line-height: 19px;

  color: #a8a8a8;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.3s;
}

.login-content .forgot-pw:hover {
  color: #ff871d;
}

.login-content .btn-login {
  line-height: 19px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #111111;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #111111;
  transition: all 0.5s;
}

.login-content .btn-login:hover {
  background-color: #ff871d;
  border: 1px solid #ff871d;
}

.login-content .login-register {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border: 1px solid #111;
  width: 100%;
}

.login-content .login-register .goto-register {
  margin-left: 10px;
  color: #a8a8a8;
  cursor: pointer;
}

/***************************Register***************************/
.register-page {
  display: none;
}

.register-page h2 {
  text-align: center;
  margin: 50px 0;
}

.login-content input {
  font-size: 14px;
  line-height: 15px;

  color: #a8a8a8;

  padding: 20px 0 15px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.login-content .btn-register {
  line-height: 19px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #111111;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #111111;
  transition: all 0.5s;
}

.login-content .btn-register:hover {
  background-color: #ff871d;
  border: 1px solid #ff871d;
}

.login-content .btn-goback {
  line-height: 19px;
  margin-bottom: 20px;
  color: #161616;
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #111111;
  transition: all 0.5s;
}

.login-content .btn-goback:hover {
  color: #ff871d;
}

/***************************forgot password***************************/
.forgot-password {
  display: none;
}

.forgot-password h2 {
  text-align: center;
  margin: 50px 0;
}

.login-content input {
  font-size: 14px;
  line-height: 15px;

  color: #a8a8a8;

  padding: 20px 0 15px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.login-content .btn-sendemail {
  line-height: 19px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #111111;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #111111;
  transition: all 0.5s;
}

.login-content .btn-sendemail:hover {
  background-color: #ff871d;
  border: 1px solid #ff871d;
}

.login-content .btn-forgotpw-goback {
  line-height: 19px;
  margin-bottom: 20px;
  color: #161616;
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #111111;
  transition: all 0.5s;
}

.login-content .btn-forgotpw-goback:hover {
  color: #ff871d;
}

/*************************************** body ************************************/

/****************************** banner ********************************************/

#banner {
  width: 100%;
}

.banner-image {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-prev {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 30px;
}

.slick-next {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.slick-prev:before {
  content: "←";
  color: #ff871d;
  font-size: 30px;
}

.slick-next:before {
  content: "→";
  color: #ff871d;
  font-size: 30px;
}

.header-text {
  width: 57%;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 21%;
}

.header-text h1 {
  font-size: 60px;
  font-weight: 700;
}

.header-text p:nth-child(3) {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}

.header-text a {
  font-size: 20px;
  padding: 21px 39px;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.header-text a:hover {
  background-color: #fff;
  color: #222;
}

@media (max-width: 768px) {
  .header-text h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .header-text p:nth-child(3) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .header-text a {
    font-size: 14px;
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s;
  }
}

@media (max-width: 500px) {
  .header-text {
    width: 90%;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
  }

  .header-text h1 {
    font-size: 20px;
    font-weight: 700;
  }

  .header-text p:nth-child(3) {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 20px;
  }

  .header-text a {
    font-size: 14px;
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s;
  }
}

/***********************************logo****************************/

#logo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 50px 0 50px;
}

.logo-container {
  padding: 0 44px;
}

.logo-item {
  height: 100%;
  text-align: center;
}

.logo-image {
  height: 66px;
  width: 65px;
  margin: 0 auto 20px;
}

.logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-item h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

/************************************ best seller *********************/

#products {
}

.products-new {
  display: block;
}

.products-hots {
  display: none;
}

.products-luv {
  display: none;
}

.btn-products-new {
  padding: 14px 37px;
  margin: 0 10px;
  background-color: #fff;
  color: #ff871d;
  border: 1px solid #ff871d;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.5s;
}

.btn-products-hots {
  padding: 14px 37px;
  margin: 0 10px;
  background-color: #ff871d;
  color: #fff;
  border: 1px solid #ff871d;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.5s;
}

.btn-products-luv {
  padding: 14px 37px;
  margin: 0 10px;
  background-color: #ff871d;
  color: #fff;
  border: 1px solid #ff871d;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.5s;
}

.product-image .luv-product {
  position: absolute;
  font-size: 14px;
  color: #ff69b4;
  padding: 6px 18px;
  background-color: #ffc0cb;
  border: 1px solid #ffc0cb;
  top: 20px;
  left: 20px;
}

.product-image .hots-product {
  position: absolute;
  font-size: 10px;
  color: #fff;
  padding: 6px 12px;
  background-color: #ff4500;
  border: 1px solid #ff4500;
  top: 20px;
  left: 20px;
}

.products-title {
  text-align: center;
}

.products-title h2 {
  font-size: 24px;
  margin-top: 28px;
}

.products-title div {
  border: 1px solid #ff871d;
  width: 8%;
  margin: 0 auto 20px;
}

@media (max-width: 500px) {
  .products-title button {
    margin-bottom: 20px;
  }
}

.products-title button:hover {
  color: #ff871d;
  background-color: #fff;
  border: 1px solid #ff871d;
}

.products-container {
  margin-top: 50px;
  padding: 0 19px;
}

.product-item {
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 40px;
}

.product-image {
  width: 100%;
  height: 319px;
  position: relative;
  overflow: hidden;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.product-item:hover img {
  transform: scale(1.2);
}

.product-image .news-product {
  position: absolute;
  font-size: 10px;
  color: #fff;
  padding: 6px 12px;
  background-color: #2786b6;
  border: 1px solid #2786b6;
  top: 20px;
  left: 20px;
}

.product-icon {
  position: absolute;
  right: 20px;
  top: 35%;
  transform: translateX(80px);
  transition: all 0.8s;
}

.product-icon div:nth-child(1) {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
}

.product-icon div:nth-child(1) .fa-cart-shopping {
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
}

.product-icon div:nth-child(2) {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.product-icon div:nth-child(2) .fa-magnifying-glass {
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
}

.product-item:hover .product-icon {
  transform: translateX(0px);
}

.product-content {
  padding: 20px 20px 30px;
}

.product-content .star span {
  font-size: 12px;
  color: #ffc107;
}

.product-content h3 {
  font-size: 20px;
  color: #222;
  margin-top: 10px;
  transition: all 0.3s;
  height: 50px;
}

.product-content h3:hover {
  color: #ff871d;
}

.product-content p {
  font-weight: 700;
  color: #ff871d;
  padding-top: 30px;
}

/***********************************Short cut *****************************/

#shortcut {
  margin-top: 40px;
}

.shortcut-container {
  margin: 0 19px;
}

.shortcut-item {
  margin: 10px 10px 10px 10px;
}

.shortcut-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.shortcut-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}

.shortcut-image::after {
  content: "";
  position: absolute;

  background-color: #d9d9d9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.5s linear;
}

.shortcut-image:hover::after {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  opacity: 0.8;
  visibility: visible;
  transform: unset;
}

.shortcut-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 4;
}

.shortcut-text h3 {
  font-size: 0px;
  font-weight: 600;
  color: #ff871d;
  transition: all 1s ease;
}

.short {
  display: flex;
}

.short p {
  margin: 0 5px;
  font-size: 0px;
  font-weight: 500;
  color: #161616;
  transition: all 1s ease;
}

.short span i {
  font-size: 0px;
  transition: all 1s ease;
}

.shortcut-item:hover img {
  transform: scale(1.2);
}

.shortcut-item:hover .shortcut-overlay {
  transform: scale(1);
  opacity: 0.9;
}

.shortcut-item:hover .shortcut-text h3 {
  font-size: 32px;
}

.shortcut-item:hover .short p {
  font-size: 18px;
}

.shortcut-item:hover .short span i {
  font-size: 10px;
}

/***********************feedback ***************************/
#feedback {
  margin-top: 80px;
}

.feedback-image {
  position: relative;
}

.feedback-info {
  position: absolute;
  top: 20%;
  text-align: center;
}

.feedback-info h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.feedback-info .feedback-line {
  border: 1px solid #fff;
  width: 8%;
  margin: auto;
  margin-bottom: 30px;
}

.feedback-info p {
  color: #fff;
  width: 52%;
  margin: 0 auto 20px;
}

.feedback-info span i {
  color: #ffc107;
  margin: 4px 4px 40px 4px;
}

.image-user {
  width: 88px;
  height: 88px;
  margin: auto;
  margin-bottom: 40px;
}

.image-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}

.feedback-info h4 {
  color: #fff;
  font-weight: 700;
}

@media (max-width: 500px) {
  .feedback-info {
    position: absolute;
    top: 5%;
    text-align: center;
  }

  .feedback-info h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }

  .feedback-info .feedback-line {
    margin-bottom: 10px;
  }

  .feedback-info p {
    color: #fff;
    width: 90%;
    margin: 0 auto 20px;
  }
  .feedback-info span i {
    display: none;
  }
  .image-user img {
    display: none;
  }

  .feedback-info h4 {
    display: none;
  }
}

@media (max-width: 768px) {
  .feedback-info {
    position: absolute;
    top: 5%;
    text-align: center;
  }

  .feedback-info h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }

  .feedback-info .feedback-line {
    margin-bottom: 10px;
  }

  .feedback-info p {
    color: #fff;
    width: 80%;
    margin: 0 auto 10px;
  }
  .feedback-info span i {
    margin-bottom: 20px;
  }
  .image-user {
    margin-bottom: 20px;
  }

  .feedback-info h4 {
  }
}

/********************************hot prodcuct******************************/

#hotproduct {
  margin-top: 100px;
}

.products-container1 {
  margin-top: 50px;
  padding: 0 19px;
}

.product-item1 {
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 20px 40px 20px;
}

.product-image1 {
  width: 100%;
  height: 319px;
  position: relative;
  overflow: hidden;
}

.product-image1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.product-item1:hover img {
  transform: scale(1.2);
}

.product-image1 span {
  position: absolute;
  font-size: 10px;
  color: #fff;
  padding: 6px 12px;
  background-color: #2786b6;
  border: 1px solid #2786b6;
  top: 20px;
  left: 20px;
}

.product-icon1 {
  position: absolute;
  right: 20px;
  top: 35%;
  transform: translateX(80px);
  transition: all 0.8s;
}

.product-icon1 div:nth-child(1) {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
}

.product-icon1 div:nth-child(1) .fa-cart-shopping {
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
}

.product-icon1 div:nth-child(2) {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.product-icon1 div:nth-child(2) .fa-magnifying-glass {
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
}

.product-item1:hover .product-icon1 {
  transform: translateX(0px);
}

.product-content1 {
  padding: 20px 20px 30px;
}

.product-content1 .star span {
  font-size: 12px;
  color: #ffc107;
}

.product-content1 h3 {
  font-size: 20px;
  color: #222;
  margin-top: 10px;
  transition: all 0.3s;
  height: 50px;
}

.product-content1 h3:hover {
  color: #ff871d;
}

.product-content1 p {
  font-weight: 700;
  color: #ff871d;
  padding-top: 30px;
}

/**********************************news****************************/
#news {
  margin-top: 50px;
}

.news-container {
  padding: 0 36px;
}

.news-item {
  margin-top: 50px;
  margin-bottom: 40px;
}

.news-info {
  height: 100%;
  display: grid;
  align-content: center;
}

.news-info h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 20px;
}

.news-info p {
  color: #8a8a8a;
  margin-bottom: 20px;
}

.news-info a {
  padding: 13px 40px;
  color: #fff;
  background-color: #ff871d;
  border: 1px solid #ff871d;
  width: 167px;
  transition: all 0.3s linear;
  margin-bottom: 20px;
}

.news-info a:hover {
  color: #ff871d;
  background-color: #fff;
  border: 1px solid #ff871d;
}

.news-image {
  height: 478px;
}

.news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

.news-image img:hover {
  filter: grayscale(100%);
}

/******************************footer *************************/
footer {
  margin-bottom: 50px;
  border-top: 1px solid #16161659;
}

.footer-container {
  padding: 0 30px;
}

.footer-image {
  width: 160px;
  height: 30px;
  margin: 64px 0 30px;
}

.footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-content p {
  width: 70%;
  line-height: 2em;
  margin-bottom: 20px;
}

.footer-input {
  display: flex;
}

.footer-input input {
  height: 40px;
  color: #495057;
  font-size: 12px;
  padding: 10px 0px 10px 10px;
  background-color: #f4f4f4;
  border: none;
  margin-bottom: 40px;
}

.footer-input button {
  height: 40px;
  background-color: #161616;
  padding: 0 15px;
  transition: all 0.3s;
}

.footer-input button:hover {
  background-color: #ff871d;
  border: 1px solid #ff871d;
}

.footer-content button span i {
  color: #fff;
}

.footer-content .fa-brands {
  margin-right: 10px;
}

.footer-location {
  display: flex;
}

.footer-location span {
  margin-right: 10px;
}

footer h3 {
  font-size: 24px;
  padding-top: 60px;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .col-sm-12 {
  }
}
