.footer {
    background-color: #30598c;
    padding-top: 25px;
    display: flex;
    font-size: 14px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto,sans-serif;
    color: white;
}
.footer_list {
    padding-left: 0%;
    list-style: none;
}
.footer-item_link {
    text-decoration: none;
    line-height: 2rem;
    font-family: Roboto,sans-serif;
    color: white;
}
.footer-item {
    flex: 1;
    
}
span {
    color: white;
    line-height: 2rem;
    font-family: Roboto,sans-serif;
}