* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* header */

header {
    height: 60px;
    background-color:#30598c;
    padding: 0 20px;
    font-family: roboto,sans-serif;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.side-bar {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.menu > ul {
    display: flex;
}

.menu-item {
    height: 60px;
    font-size: 14.4px;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;
}

.menu-item > span {
    margin: 6px;
    padding: 0px 3px;
}

.sub-menu {
    width: 200px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    background-color:#fff;
    line-height: 1.5;
    list-style-type: none;

    position: absolute;
    top: 100%;
    right: 0;

    display:none;
}

.sub-menu-item {
    font-size: 15px;
    color: #464646;
    padding:11px 16px;
    text-align: center;
}

.sub-menu-item:hover{
    background-color: #c4c4c4;
    color: #fff;
}

.menu-item:hover .sub-menu {
    display: block;
}

.logo img {
    width:100px
}

.avatar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 5px;
}

.cart{
    color: #fff;
    position:relative;
    padding-right: 16px;
    font-size: 22px;

}

.cart-icon{
    cursor: pointer;
    margin: 0px 3px;
}

.cart-cound {
    color: #fff;
    background-color: #26a69a;
    cursor: pointer;

    position:absolute;
    left: 19px;
    top: -4px;
    padding: 0px 4px;
    display: inline-block;
    font-size:75%;
    font-weight: 700;
    line-height: 1;
    border-radius:4px;
}

/* body  */

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 15px 48px 15px;
    font-family: Roboto,sans-serif;
    line-height: 1.5;
}

.card-wrapper {
    flex-basis: 33.33%;
    padding: 15px;
}
.card {
    border-radius: 4px;
    overflow: hidden;  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}


.card-img {
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
  
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-star {
    color: #ffd600;
}

.card-info {
    margin: 16px 24px 0px 24px;
    margin-bottom: 1rem;
    
}

.card-title {
    margin: 0px 0px 16px 0px;
    color: #464646;
    font-weight: 400;
}

.card-footer-info {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 16px 0px;
    color: #757575;
    margin-top: auto;
}

/* Footer */

.footer {
    background-color: #30598c;
    padding-top: 25px;
    display: flex;
    font-size: 14px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto,sans-serif;
    color: white;
}
.footer_list {
    padding-left: 0%;
    list-style: none;
}
.footer-item_link {
    text-decoration: none;
    line-height: 2rem;
    font-family: Roboto,sans-serif;
    color: white;
}
.footer-item {
    flex: 1;
    
}
.text-footer {
    color: white;
    line-height: 2rem;
    font-family: Roboto,sans-serif;
}



