/****************************** banner ********************************************/

#banner {
  width: 100%;
}

.banner-image {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-text {
  width: 57%;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 21%;
}

.header-text h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header-text div {
  display: flex;
  justify-content: center;
}

.header-text div p:nth-child(1) {
  margin: 0 10px;
  color: #fff;
}

.header-text div p:nth-child(3) {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .banner-item .banner-image .header-text h1 {
    font-size: 32px;
  }
}

@media (max-width: 428px) {
  .banner-item .banner-image .header-text h1 {
    font-size: 32px;
  }

  .banner-item .banner-image .header-text div {
    font-size: 14px;
  }
}

/*******************************formcontact *********************************/

.formcontact-container {
  padding: 55px 0 75px;
  width: 80%;
  margin: auto;
}

.formcontact-info-content a {
  color: #161616;
}

.formcontact-info {
  background: #f7f7f7;
}

.formcontact-info h5 {
  margin-top: 100px;
}

.formcontact-info .line {
  border: 1px solid #ff871d;
  width: 15%;
  margin: 20px 0 25px;
}

.formcontact-info p {
  font-weight: 500;
}

.formcontact-info ul {
  list-style-type: disc;
}

.formcontact-info ul li {
  margin-bottom: 10px;
}

.formcontact-info .icon span {
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  padding: 10px 12px;
}

.formcontact-info .icon span i {
  margin-top: 20px;
  margin-bottom: 60px;
}

.formcontact-info-content {
  padding-left: 30px;
}

.formcontact-form {
  margin-top: 55px;
}

.formcontact-form h3 {
  font-size: 40px;
  line-height: 47px;

  color: #161616;
  text-align: center;
}

.formcontact-form .line {
  border: 1px solid #ff871d;
  width: 15%;
  margin: 20px auto 46px;
}

.formcontact-form .row .col-lg-6 label {
  margin: 0 0 10px 10px;
}

.formcontact-form .row .col-lg-6 input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.formcontact-form .row .col-12 label {
  margin: 30px 0 10px 10px;
}

.formcontact-form .row .note textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.formcontact-form button {
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px 55px;
  color: #fff;
  background-color: #161616;
  border: 1px solid #161616;
  transition: all 0.3s;
}

.formcontact-form button:hover {
  background-color: #ff871d;
  border: 1px solid #ff871d;
}

@media (max-width: 1200px) {
  .formcontact-container {
    width: 85%;
    margin: auto;
  }

  .formcontact-info h5 {
    margin-top: 50px;
  }
}

@media (max-width: 992px) {
  .formcontact-container {
    width: 85%;
    margin: auto;
  }

  .formcontact-info h5 {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .formcontact-info-image {
    width: 100%;
  }

  .formcontact-info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.formcontact-info-image {
  height: 100%;
}

.map-us {
  height: 100%;
}

/****************************************emailcontact ***********************/

.emailcontact-image {
  position: relative;
  height: 375px;
}

.emailcontact-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.emailcontact-content {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.emailcontact-content-container {
  width: 85%;
  margin: auto;
}

.emailcontact-content-container .row .col-12 span {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.emailcontact-content-container .row .col-12 span i {
  font-size: 100px;
  color: #fff;
}

.emailcontact-content-container .text {
  display: flex;
}

.emailcontact-content-container .text div {
  padding: 20px 0 0 20px;
  border-left: 1px solid #ffffff;
}

.emailcontact-content-container .text div p {
  color: #fff;
}

.emailcontact-content-container .text div p:nth-child(1) {
  line-height: 1px;
  font-size: 26px;
}

.emailcontact-content-container .text div p:nth-child(2) {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.24em;
}
.emailcontact-content-container .text div p:nth-child(2) {
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

.emailcontact-input {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  margin: auto;
}

.emailcontact-input input {
  width: 100%;
  padding: 15px 0 15px 15px;
  color: #6c7589;
}

.emailcontact-input button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 25px;
  border: none;
  background-color: #161616;
  color: #fff;
  transition: all 0.3s;
}

.emailcontact-input button:hover {
  background-color: #ff871d;
}

@media (max-width: 768px) {
  .emailcontact-content-container .text {
    text-align: center;
    margin-bottom: 50px;
  }
}

/**************************instagram ********************/

#instagram {
  position: relative;
  margin-bottom: 50px;
}

.slick-prev {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.slick-next {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.slick-prev:before {
  content: "←";
  color: #ff871d;
  font-size: 30px;
}

.slick-next:before {
  content: "→";
  color: #ff871d;
  font-size: 30px;
}

.instagram-image {
  overflow: hidden;
}

.instagram-image img {
  transition: all 2s linear;
}

.instagram-image img:hover {
  transform: scale(1.2);
}

.instagram-flus-image {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  position: relative;
}

.instagram-flus-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instagram-flus {
  display: flex;
  padding: 20px 25px 10px 25px;
  background-color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.instagram-flus p {
  display: flex;
  align-items: center;
  line-height: 19px;

  color: #161616;
}

@media (max-width: 428px) {
  .instagram-flus {
    width: 60%;
  }

  .instagram-flus p {
    font-size: 14px;
  }
}
