/********************************hot prodcuct******************************/

#hotproduct {
  margin-top: 100px;
}

.products-container1 {
  margin-top: 50px;
  padding: 0 19px;
}

.product-item1 {
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.products-item {
  padding: 0 20px 40px 20px;
}

.product-image1 {
  width: 100%;
  height: 319px;
  position: relative;
  overflow: hidden;
}

.product-image1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.product-item1:hover img {
  transform: scale(1.2);
}

.product-image1 span {
  position: absolute;
  font-size: 10px;
  color: #fff;
  padding: 6px 12px;
  background-color: #2786b6;
  border: 1px solid #2786b6;
  top: 20px;
  left: 20px;
}

.product-icon1 {
  position: absolute;
  right: 20px;
  top: 35%;
  transform: translateX(80px);
  transition: all 0.8s;
}

.product-icon1 div:nth-child(1) {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
}

.product-icon1 div:nth-child(1) .fa-cart-shopping {
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
}

.product-icon1 div:nth-child(2) {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.product-icon1 div:nth-child(2) .fa-magnifying-glass {
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
}

.product-item1:hover .product-icon1 {
  transform: translateX(0px);
}

.product-content1 {
  padding: 20px 20px 30px;
}

.product-content1 .star span {
  font-size: 12px;
  color: #ffc107;
}

.product-content1 h3 {
  font-size: 20px;
  color: #222;
  margin-top: 10px;
  transition: all 0.3s;
  height: 50px;
}

.product-content1 h3:hover {
  color: #ff871d;
}

.product-content1 p {
  font-weight: 700;
  color: #ff871d;
  padding-top: 30px;
}
